.body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0cap;
    background-color: rgb(0, 0, 0);
}
.decor1{
    text-shadow: grey;
    opacity: 0.5;
}
.Appetizers{
    border: 1vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.MainCourses{
    border: 1vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.Desserts{
    border: 1vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.Beverages{
    border: 1vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.decor2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


